@tailwind base;
  @tailwind components;
  @tailwind utilities;
  
  .cl-button{
    border: none;
  }

  .cl-internal-c4jh7f:focus {
    box-shadow: none !important;
  }

  .cl-avatarBox {
    height: 50px;
    width:50px;
  }